# Runtime configuration of CKAN enabled through ckanext-envvars
# Information about how it works: https://github.com/okfn/ckanext-envvars
# Note that variables here take presedence over build/up time variables in .env

#Compose variables
# CKAN
CKAN_MAX_UPLOAD_SIZE_MB=10
# CKAN_SQLALCHEMY_URL=postgresql://${CKAN_DB_USER}:${CKAN_DB_PASSWORD}@${POSTGRES_HOST}/${CKAN_DB}
# CKAN_DATASTORE_WRITE_URL=postgresql://${CKAN_DB_USER}:${CKAN_DB_PASSWORD}@${POSTGRES_HOST}/${DATASTORE_DB}
# CKAN_DATASTORE_READ_URL=postgresql://${DATASTORE_READONLY_USER}:${DATASTORE_READONLY_PASSWORD}@${POSTGRES_HOST}/${DATASTORE_DB}
CKAN_SQLALCHEMY_URL=postgresql://ckan:ckan@postgres/ckandb
CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@postgres/datastore
CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@postgres/datastore
CKAN_SOLR_URL=http://solr:8983/solr/ckan
CKAN_REDIS_URL=redis://redis:6379/1
CKAN_INI=/srv/app/ckan.ini
CKAN___SECRET_KEY=SECRET
# ckan.cors.origin_whitelist =


# Set to true to disable CKAN from starting and serve a maintenance page
MAINTENANCE_MODE=false

# General Settings
CKAN_SITE_ID=default
CKAN_SITE_URL=https://localhost:443
# CKAN_SITE_URL=https://n5zft973-443.euw.devtunnels.ms
CKAN_PORT_HOST=5000
CKAN_PORT=5000
CKAN___BEAKER__SESSION__SECRET=CHANGE_ME
# See https://docs.ckan.org/en/latest/maintaining/configuration.html#api-token-settings
CKAN___API_TOKEN__JWT__ENCODE__SECRET=string:CHANGE_ME
CKAN___API_TOKEN__JWT__DECODE__SECRET=string:CHANGE_ME
# CKAN Plugins
CKAN__PLUGINS=activity image_view text_view datatables_view datastore xloader envvars auth
# CKAN requires storage path to be set in order for filestore to be enabled
# CKAN__STORAGE_PATH=/srv/app/data
# CKAN__WEBASSETS__PATH=/srv/app/data/webassets
# CKAN__WEBASSETS__PATH=/srv/app/data/webassets

CKAN__WEBASSETS__PATH=/srv/app/data/webassets
CKAN__WEBASSETS__URL=/srv/app/data/webassets
# SYSADMIN settings, a sysadmin user is created automatically with the below credentials
CKAN_SYSADMIN_NAME=sysadmin
CKAN_SYSADMIN_PASSWORD=password
CKAN_SYSADMIN_EMAIL=sysadmin@ckantest.com

# Email settings
CKAN_SMTP_SERVER=smtp.corporateict.domain:25
CKAN_SMTP_STARTTLS=True
CKAN_SMTP_USER=user
CKAN_SMTP_PASSWORD=pass
CKAN_SMTP_MAIL_FROM=ckan@localhost


# Xloader settings
CKANEXT__XLOADER__SSL_VERIFY=False
CKANEXT__XLOADER__SITE_URL=http://ckan-dev:5000
CKANEXT__XLOADER__MAX_CONTENT_LENGTH=4294967296 # 4GB
CKANEXT__XLOADER__FORMATS=csv application/csv json application/json jsonl xls application/vnd.ms-excel
CKANEXT__XLOADER__JOB_TIMEOUT=3600
# CKANEXT__XLOADER__DOWNLOAD_PROXY=
# CKANEXT__XLOADER__JOBS_DB_URI=
# CKANEXT__XLOADER__API_TOKEN= # set during start_ckan.sh
CKANEXT__XLOADER__STRICT_TYPE_GUESSING=True
CKANEXT__XLOADER__MAX_TYPE_GUESSING_LENGTH=100000
CKANEXT__XLOADER__PARSE_DATES_DAYFIRST=False
CKANEXT__XLOADER__PARSE_DATES_YEAR_FIRST=False
CKANEXT__XLOADER__IGNORE_HASH=False
CKANEXT__XLOADER__MAX_EXCERPT_LINES=0
CKANEXT__XLOADER__CLEAN_DATASTORE_TABLES=False
CKANEXT__XLOADER__SHOW_BADGES=True
CKANEXT__XLOADER__DEBUG_BADGES=False
CKANEXT__XLOADER__REQUIRES_SUCCESFUL_REPORT=False
CKANEXT__XLOADER__ENFORCE_SCHEMA=True
# CKANEXT__XLOADER__SITE_URL_IGNORE_PATH_REGEX=


# ckan-auth settings
CKANEXT__AUTH__INCLUDE_FRONTEND_LOGIN_TOKEN=True# Runtime configuration of CKAN enabled through ckanext-envvars
# Information about how it works: https://github.com/okfn/ckanext-envvars
# Note that variables here take presedence over build/up time variables in .env

#Compose variables
# CKAN
CKAN_MAX_UPLOAD_SIZE_MB=10
# CKAN_SQLALCHEMY_URL=postgresql://${CKAN_DB_USER}:${CKAN_DB_PASSWORD}@${POSTGRES_HOST}/${CKAN_DB}
# CKAN_DATASTORE_WRITE_URL=postgresql://${CKAN_DB_USER}:${CKAN_DB_PASSWORD}@${POSTGRES_HOST}/${DATASTORE_DB}
# CKAN_DATASTORE_READ_URL=postgresql://${DATASTORE_READONLY_USER}:${DATASTORE_READONLY_PASSWORD}@${POSTGRES_HOST}/${DATASTORE_DB}
CKAN_SQLALCHEMY_URL=postgresql://ckan:ckan@postgres/ckandb
CKAN_DATASTORE_WRITE_URL=postgresql://ckan:ckan@postgres/datastore
CKAN_DATASTORE_READ_URL=postgresql://datastore_ro:datastore@postgres/datastore
CKAN_SOLR_URL=http://solr:8983/solr/ckan
CKAN_REDIS_URL=redis://redis:6379/1
CKAN_INI=/srv/app/ckan.ini
CKAN___SECRET_KEY=SECRET
CKAN__CORS__ORIGIN_ALLOW_ALL=True
# ckan.cors.origin_whitelist =


# Set to true to disable CKAN from starting and serve a maintenance page
MAINTENANCE_MODE=false

# General Settings
CKAN_SITE_ID=default
CKAN_SITE_URL=https://localhost:443
# CKAN_SITE_URL=https://n5zft973-443.euw.devtunnels.ms
CKAN_PORT_HOST=5000
CKAN_PORT=5000
CKAN___BEAKER__SESSION__SECRET=CHANGE_ME
# See https://docs.ckan.org/en/latest/maintaining/configuration.html#api-token-settings
CKAN___API_TOKEN__JWT__ENCODE__SECRET=string:CHANGE_ME
CKAN___API_TOKEN__JWT__DECODE__SECRET=string:CHANGE_ME
# CKAN Plugins
CKAN__PLUGINS=activity image_view text_view datatables_view datastore xloader envvars auth
# CKAN requires storage path to be set in order for filestore to be enabled
# CKAN__STORAGE_PATH=/srv/app/data
# CKAN__WEBASSETS__PATH=/srv/app/data/webassets
# CKAN__WEBASSETS__PATH=/srv/app/data/webassets

CKAN__WEBASSETS__PATH=/srv/app/data/webassets
CKAN__WEBASSETS__URL=/srv/app/data/webassets
# SYSADMIN settings, a sysadmin user is created automatically with the below credentials
CKAN_SYSADMIN_NAME=sysadmin
CKAN_SYSADMIN_PASSWORD=password
CKAN_SYSADMIN_EMAIL=sysadmin@ckantest.com

# Email settings
CKAN_SMTP_SERVER=smtp.corporateict.domain:25
CKAN_SMTP_STARTTLS=True
CKAN_SMTP_USER=user
CKAN_SMTP_PASSWORD=pass
CKAN_SMTP_MAIL_FROM=ckan@localhost


# Xloader settings
CKANEXT__XLOADER__SSL_VERIFY=False
CKANEXT__XLOADER__SITE_URL=http://ckan-dev:5000
CKANEXT__XLOADER__MAX_CONTENT_LENGTH=4294967296 # 4GB
CKANEXT__XLOADER__FORMATS=csv application/csv json application/json jsonl xls application/vnd.ms-excel
CKANEXT__XLOADER__JOB_TIMEOUT=3600
# CKANEXT__XLOADER__DOWNLOAD_PROXY=
# CKANEXT__XLOADER__JOBS_DB_URI=
# CKANEXT__XLOADER__API_TOKEN= # set during start_ckan.sh
CKANEXT__XLOADER__STRICT_TYPE_GUESSING=True
CKANEXT__XLOADER__MAX_TYPE_GUESSING_LENGTH=100000
CKANEXT__XLOADER__PARSE_DATES_DAYFIRST=False
CKANEXT__XLOADER__PARSE_DATES_YEAR_FIRST=False
CKANEXT__XLOADER__IGNORE_HASH=False
CKANEXT__XLOADER__MAX_EXCERPT_LINES=0
CKANEXT__XLOADER__CLEAN_DATASTORE_TABLES=False
CKANEXT__XLOADER__SHOW_BADGES=True
CKANEXT__XLOADER__DEBUG_BADGES=False
CKANEXT__XLOADER__REQUIRES_SUCCESFUL_REPORT=False
CKANEXT__XLOADER__ENFORCE_SCHEMA=True
# CKANEXT__XLOADER__SITE_URL_IGNORE_PATH_REGEX=


# ckan-auth settings
CKANEXT__AUTH__INCLUDE_FRONTEND_LOGIN_TOKEN=True